@{
    ViewData["Title"] = "Password Modified";
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Styles3.css" />
</head>
<body>

    <div class="page-wrapper">
        <div class="confirmation-container">
            <h2 class="confirmation-title">Passsword reset succesfully</h2>
            <p class="confirmation-message">
                Your Password has been succesfully reset
                <a asp-controller="Auth" asp-action="Login" class="confirmation-link">Login</a>

            </p>
        </div>
    </div>

</body>
</html>
